.BookTitle,
.ChapterTitle,
.Content {
    border: 0;
}

.ChapterTitle {
    font-weight: bold;
    color: cadetblue;
}

.BookTitle {
    font-weight: bold;
    font-size: larger;
    color: blue;
}

.Content {
    background-color: antiquewhite;
}